<ul class="list-group">
{foreach $categories as $key => $category}
  <li class="list-group-item">
  <a class="ajax" n:href="showCategory! $category->id">{$category->name}</a>
  </li>
{/foreach}
</ul> 