{* This is the welcome page, you can delete it *}

{block content}
{snippet productsList}


{if !$products->fetch()}
<div class="alert alert-warning" role="alert">No products for this category</div>
{else}
<div class="row">		
	<div class="col-sm-12">	
	{foreach $products as $key => $product}

		<div class="col-sm-4 col-lg-4 col-md-4">
		    <div class="thumbnail product-detail">
		    	{if $product->photo}
		        <img src="{$basePath}/{$product->photo}" alt="">
		        {else}
		        <img src="http://placehold.it/320x150" alt="">		        
		        {/if}		    
		        <div class="caption">
		            <h4 class="pull-right">{$product->price}{$parameters['currency']}</h4>
		            <h4><a n:href="show $product->id">{$product->name|capitalize}</a>
		            </h4>
		            <p>{$product->description|truncate:100}</p>
		        </div>
		        <div class="ratings">
		            <p class=""><i class="fa fa-cube" aria-hidden="true"></i>  {$product->in_stock}</p>

		        </div>
		    </div>
		</div>
	{/foreach}
	</div>
</div>	
<div style="text-align: center">
    <ul n:snippet="pagi" class="pagination" style="margin: 0 0 20px;">
        <li {if $paginator->first}class="disabled"{/if}><a class="ajax {if $paginator->first == false}disabled{/if}" n:href="change! $paginator->getPage()-1">&laquo;</a></li>
        {for $i = 1; $i <= $paginator->pageCount; $i++}<li {if $paginator->getPage() == $i}class="active"{/if}><!--PAGE--><a class="ajax" n:href="change! $i">{$i}</a></li>{/for}
        <li {if $paginator->last}class="disabled"{/if}><a class="ajax {if $paginator->last == false}disabled{/if}" n:href="change! $paginator->getPage()+1">&raquo;</a></li>
    </ul>
</div>	
{/if}
{/snippet}
{/block}
