<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Informace o produktu {$productId}</title>
    <style>
    </style>
</head>
<body>
    <p>Dobrý den,</p>

    <p>Name: {$name}</p>
    <p>Email: {$from}</p>
    <p>Phone: {$phone}</p>
    <p>Phone: {$body}</p>
</body>
</html>