{* This is the welcome page, you can delete it *}

{block content}
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <strong>{$product->name|capitalize}</strong>
                    {if $presenter->getUser()->isLoggedIn()}        
                    <a n:href=":Admin:Products:edit $product->id" class="btn btn-primary btn-sm tltp pull-right" title="Edit Post"><i class="fa fa-pencil"></i></a>
                    {/if}
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-6 product-detail">
                {if $product->photo}
                <img class="img-responsive" src="{$basePath}/{$product->photo}" alt="">
                {else}
                <img class="img-responsive" src="http://placehold.it/750x500" alt="">
                {/if}
                <div class="col-md-6 text-left">
                    <h3><small>Product Price</small></h3>
                    <h2 class="text-success"><strong>{$product->price}{$parameters['currency']}</strong></h2>  
                </div>                
                <div class="col-md-6 text-right">
                    <h3><small>In stock</small></h3>
                    <h2>{$product->in_stock} pcs</h2>                     
                </div>
                
            </div>

            <div class="col-md-6">
                <h3><small>Product Description</small></h3>
                <p>{$product->description|truncate:100}</p>
                <hr>
                <h3><small>Parameters</small></h3>
              
                {foreach $attributes as $key => $attribute}
                    {if $iterator->isFirst()}     
                    {else} 
                        <hr>
                    {/if}
                    {if $presenter->getUser()->isLoggedIn()}        
                    <a n:href=":Admin:Attributes:edit $attribute->id" class="btn btn-primary btn-sm tltp" title="Edit Post"><i class="fa fa-pencil"></i></a>
                    {/if}                
                {$attribute->name}: {$attribute->text}<br>
                            
                {/foreach}                 
               
                <hr>                                             
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Product form</h3>
            </div>
            {snippet contactFormSnippet} 

            {form contactForm, class => ajax}                
              {*
              <ul class="alert-relative alert-danger animated flash" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>  
            *}
            <div class="row">                  
                <div class="col-sm-12">   
                    <div class="col-sm-6 ">  
                    {if $formSendDone}
                    <div class="alert alert-success">DONE</div>
                    {/if}
                        <div class="form-group {if $form['name']->error}has-error{else}{/if} ">                                                         
                            {label name /}                       
                            {input name, class => "form-control", placeholder => "Name: ", required, autofocus => true}  
                            <span class="text-danger" n:ifcontent>{$form['name']->error|noescape}</span>
                        </div>                                                                            
                        <div class="form-group {if $form['email']->error}has-error{else}{/if} ">                                                         
                            {label email /}                       
                            {input email, class => "form-control", placeholder => "E-Mail: ", required}  
                            <span class="text-danger" n:ifcontent>{$form['email']->error|noescape}</span>
                        </div> 
                        <div class="form-group {if $form['phone']->error}has-error{else}{/if} ">                                                         
                            {label phone /}                       
                            {input phone, class => "form-control", placeholder => "Phone: "}  
                            <span class="text-danger" n:ifcontent>{$form['phone']->error|noescape}</span>
                        </div> 
                        <div class="form-group {if $form['body']->error}has-error{else}{/if} ">                                                         
                            {label body /}                       
                            {input body, class => "form-control", placeholder => "Body: "}  
                            <span class="text-danger" n:ifcontent>{$form['body']->error|noescape}</span>
                        </div>
                        <div class="form-group {if $form['soucet']->error}has-error{else}{/if} ">                                                         
                            {label soucet /}                       
                            {input soucet, class => "form-control", placeholder => "Result: "}  
                            <span class="text-danger" n:ifcontent>{$form['soucet']->error|noescape}</span>
                            {input c1}                                   
                            {input c2}                                   
                                                            


                        </div>

                        {input send, class => "btn btn-success mySubmit"}                                   
                    </div>    
                </div>
            </div>                  
            
        {/form}          
        {/snippet}   

        </div>
        <!-- /.row -->

  


{/block}
