{block content}
<div class="wrapper-admin">  
    <div class="page-header">
        <h1 n:block="title">Categories</h1>
    </div>

    {snippet postsList} 
    <!-- Main component for a primary marketing message or call to action -->
    <button class="btn btn-success " role="button" data-toggle="modal" data-target="#addPostForm"><i class="fa fa-plus"></i> Add new</button><br>
<hr>
    {if $posts->fetch() == false}
    <div class="alert-relative alert-danger">Nothing :(</div>
    {else}     
    <table id="postsTable" class="table table-striped table-condensed"> 
        <thead> 

            <tr> 
                <th>id</th> 
                <th>Name</th>          
                <th  class="hidden-xs">Parent Id</th>                  
                <th>Edit</th> 
                <th>Active</th>
                <th>Del</th> 
            </tr> 
        </thead> 
        <tbody> 
            <p id="demo"></p>

            {foreach $posts as $key => $post}
        
            <tr> 
                <td>{$post->id}</td> 
                <td>{$post->name}</td>
                {if $post->parent_id}
                <td   class="hidden-xs">{$parentName[$post->parent_id]}</td>
                {else}
                <td   class="hidden-xs"><span class="label label-success">MAIN</span></td>                
                {/if}
                <td><a n:href="Categories:edit $post->id" class="btn btn-primary btn-sm tltp" title="Edit Post"><i class="fa fa-pencil"></i></a></td>        
                <td>
                    {if $post->active == 1}
                    <a n:href="inactive! $post->id" class="btn btn-success btn-sm ajax tltp" title="Hide post">
                        <i class='fa fa-eye'></i>
                    </a>

                    {else}

                    <a n:href="active! $post->id" class="btn btn-warning btn-sm  ajax tltp" title="Show post">
                        <i class='fa fa-eye-slash'></i>
                    </a>{/if}
                </td>

                <td><a class="btn btn-danger btn-sm tltp" title="Delete post"
                    data-confirm="modal"
                    data-confirm-title="Smazat tento článek"
                    data-confirm-text="Delete?"
                    data-confirm-ok-class="btn-danger"
                    data-confirm-ok-text="Delete"
                    data-confirm-cancel-class="btn-success"
                    data-confirm-cancel-text="Cancel"
                    class="btn btn-danger btn-mini pull-right"
                    data-ajax="on"
                    n:href="removePost! $post->id"><i class="fa fa-trash"></i></a></td>                  

                </tr>
                {/foreach} 
            </tbody> 
        </table> 
        <div style="text-align: center">
            <ul n:snippet="pagi" class="pagination" style="margin: 0 0 20px;">
                <li {if $paginator->first}class="disabled"{/if}><a class="ajax {if $paginator->first == false}disabled{/if}" n:href="change! $paginator->getPage()-1">&laquo;</a></li>
                {for $i = 1; $i <= $paginator->pageCount; $i++}<li {if $paginator->getPage() == $i}class="active"{/if}><!--PAGE--><a class="ajax" n:href="change! $i">{$i}</a></li>{/for}
                <li {if $paginator->last}class="disabled"{/if}><a class="ajax {if $paginator->last == false}disabled{/if}" n:href="change! $paginator->getPage()+1">&raquo;</a></li>
            </ul>
        </div>          
        {/if}

    </div>
</div>

{/snippet}  

<div class="modal fade" id="addPostForm" tabindex="-1" role="dialog" aria-labelledby="addPostForm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Add new category</h2>
            </div>                
           
            {snippet addCategoryFormSnippet} 
            {form addCategoryForm, class => ajax}                
            <div class="modal-body">
              {*
              <ul class="alert-relative alert-danger animated flash" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>  
            *}
            <div class="row">                  
                <div class="col-sm-12">   
                    <div class="col-sm-6 col-sm-offset-3"> 
                        <div class="form-group {if $form['name']->error}has-error{else}{/if} ">                                                         
                            {label name /}                       
                            {input name, class => "form-control", placeholder => "Name: ", required, autofocus => true}  
                            <span class="text-danger" n:ifcontent>{$form['name']->error|noescape}</span>
                        </div>
                        <div class="form-group {if $form['parent_id']->error}has-error{else}{/if} ">                                                         
                            {label parent_id /}                       
                            {input parent_id, class => "form-control", placeholder => "Parent: ", autofocus => true}  
                            <span class="text-danger" n:ifcontent>{$form['parent_id']->error|noescape}</span>
                        </div>                        
                        <div class="col-sm-12">
                            {label active /}                       
                            {input active, class => "form-control"}
                        </div>          
                    </div>    
                </div>
            </div>
        </div>                    
        <div class="modal-footer">
            {input submit, class => "btn btn-success mySubmit"} 
            <button type="button" class="btn btn-danger" data-dismiss="modal">Zavřít</button> 
        </div>
        {/form}          
        {/snippet}                      
    </div><!-- /.modal-content -->

</div><!-- /.modal-dialog -->
</div><!-- /.modal -->  


{/block}


