{block content}
<div class="wrapper-admin">  
    <div class="page-header">
        <h1 n:block="title">Categories</h1>
    </div>            
           
            {snippet editCategorySnippet} 
            {form editCategoryForm, class => ajax}                
            <div class="row">                  
                <div class="col-sm-12">   
                    <div class="col-sm-6 col-sm-offset-3"> 
                        <div class="form-group {if $form['name']->error}has-error{else}{/if} ">                                                         
                            {label name /}                       
                            {input name, class => "form-control", placeholder => "Name: ", required, autofocus => true}  
                            <span class="text-danger" n:ifcontent>{$form['name']->error|noescape}</span>
                        </div>
                        <div class="form-group {if $form['parent_id']->error}has-error{else}{/if} ">                                                         
                            {label parent_id /}                       
                            {input parent_id , class => "form-control", placeholder => "Parent: ", autofocus => true}                        
                        </div>                        
                        <div class="col-sm-12">
                            {label active /}                       
                            {input active value => $post->active, class => "form-control"}
                        </div>          
                    </div>    
                </div>
            </div>
            <div class="modal-footer">
                {input submit, class => "btn btn-success mySubmit"} 
                {input close, class => "btn btn-danger mySubmit"} 
            </div>            
        {/form}          
        {/snippet}                                         
{/block}


