{block content}
<div class="wrapper-admin">  
    <div class="page-header">
        <h1 n:block="title">Categories</h1>
    </div>
<div class="modal fade" id="addCategoryForm" tabindex="-1" role="dialog" aria-labelledby="addCategoryForm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Add new category</h2>
            </div>                
           
            {snippet addCategorySnippet} 
            {form addCategoryForm, class => ajax}                
            <div class="modal-body">
              {*
              <ul class="alert-relative alert-danger animated flash" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>  
            *}
            <div class="row">                  
                <div class="col-sm-12">   
                    <div class="col-sm-6 col-sm-offset-3"> 
                        <div class="form-group {if $form['name']->error}has-error{else}{/if} ">                                                         
                            {label name /}                       
                            {input name, class => "form-control", placeholder => "Name: ", required, autofocus => true}  
                            <span class="text-danger" n:ifcontent>{$form['name']->error|noescape}</span>
                        </div>
                        <div class="form-group {if $form['parent']->error}has-error{else}{/if} ">                                                         
                            {label parent_id /}                       
                            {input parent_id, class => "form-control", placeholder => "Parent: ", autofocus => true}  
                            <span class="text-danger" n:ifcontent>{$form['parent_id']->error|noescape}</span>
                        </div>                        
                        <div class="col-sm-12">
                            {label active /}                       
                            {input active, class => "form-control"}
                        </div>          
                    </div>    
                </div>
            </div>
        </div>                    
        <div class="modal-footer">
            {input submit, class => "btn btn-success mySubmit"} 
            <button type="button" class="btn btn-danger" data-dismiss="modal">Zavřít</button> 
        </div>
        {/form}          
        {/snippet}                      
    </div><!-- /.modal-content -->

</div><!-- /.modal-dialog -->
</div><!-- /.modal -->  


{/block}


