<html>
    <head>
        <title>{$title}</title>
    </head>

    <body>
        <ul>
            <li>
                <strong>Jméno:</strong> {$values['name']}
            </li>
            <li>
                <strong>Telefon:</strong> {$values['phone']}
            </li>            
            <li>
                <strong>Email:</strong> {$values['email']}
            </li>
            <li>
                <strong>Zpráva:</strong> {$values['message']}
            </li>
        </ul>

    </body>
</html>