{block content}

<div class="wrapper-admin">  
    <div class="page-header">
        <h1 n:block="title">Messages for products</h1>
    </div>
    {snippet postsList} 
    <!-- Main component for a primary marketing message or call to action -->

    {if $posts->fetch() == false}
    <div class="alert-relative alert-danger">Nothing :(</div>
    {else} 
    <table id="postsTable" class="table table-striped"> 
        <thead> 

            <tr> 
                <th>id</th> 
                <th>Created</th> 
                <th>From</th>          
                <th>Product</th>                                  
                <th>Text</th>                  
                <th>Show</th>                  
                <th>Status</th>
                <th>Del</th> 
            </tr> 
        </thead> 
        <tbody> 
            <p id="demo"></p>

            {foreach $posts as $key => $post}
        
            <tr> 
                <td>{$post->id}</td>
                <td class="hidden-xs datetime">{$post->created_at|date:'j.n.Y'}<br>{$post->created_at|date:'H:i:s'}</td>
                <td><a href="mailto:{$post->email}">{$post->email}</a></td>
                {if $post->product_id !== NULL}
                <td>{$productName[$post->product_id]}</td>
                {else}
                <td><span class="label label-danger">no product</span></td>                
                {/if}
                
                {if $post->body}
                <td>{$post->body}</td>
                {else}
                <td><span class="label label-danger">no text </span></td>                
                {/if} 
                <td>
     <a class="btn btn-success btn-sm" role="button" data-toggle="modal" data-target="#showDetails{$post->id}"><i class="fa fa-eye"></i> </a><br>

                </td>                              
                <td>
                    {if $post->confirmed == 1}
                    <button class="btn btn-success btn-sm ajax tltp" >
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>

                    {else}

                    <a n:href="active! $post->id" class="btn btn-warning btn-sm  ajax tltp" title="Show post">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>{/if}
                </td>

                <td><a class="btn btn-danger btn-sm tltp" title="Delete post"
                    data-confirm="modal"
                    data-confirm-title="Smazat tento článek"
                    data-confirm-text="Delete?"
                    data-confirm-ok-class="btn-danger"
                    data-confirm-ok-text="Delete"
                    data-confirm-cancel-class="btn-success"
                    data-confirm-cancel-text="Cancel"
                    class="btn btn-danger btn-mini pull-right"
                    data-ajax="on"
                    n:href="removePost! $post->id"><i class="fa fa-trash"></i></a></td>                  

                </tr>

<div class="modal fade" id="showDetails{$post->id}" tabindex="-1" role="dialog" aria-labelledby="showDetails{$post->id}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Details</h2>
            </div>                
            
            <div class="modal-body">           
            <div class="row"> 
                <div class="col-sm-12">  
                    <div class="col-sm-6 col-sm-offset-3"> 

<div class="panel panel-default">
  <div class="panel-heading">Details</div>
  <div class="panel-body">
    {$post->name}<br>
    {$post->email}<br>
    {$post->phone}<br>        
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Product</div>
  <div class="panel-body">
  {if $post->product_id}
    ID: {$post->product_id} <br>
    {$productName[$post->product_id]}<br>
  {else}
  Not Exists <br>
  {/if}  
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Message</div>
  <div class="panel-body">
    {$post->body}
  </div>
</div>
                      </div>  
                </div>                                
            </div>  
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>                            
                 
    </div><!-- /.modal-content -->

</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

                {/foreach} 

                


            </tbody> 
        </table>  

        <div style="text-align: center">
            <ul n:snippet="pagi" class="pagination" style="margin: 0 0 20px;">
                <li {if $paginator->first}class="disabled"{/if}><a class="ajax {if $paginator->first == false}disabled{/if}" n:href="change! $paginator->getPage()-1">&laquo;</a></li>
                {for $i = 1; $i <= $paginator->pageCount; $i++}<li {if $paginator->getPage() == $i}class="active"{/if}><!--PAGE--><a class="ajax" n:href="change! $i">{$i}</a></li>{/for}
                <li {if $paginator->last}class="disabled"{/if}><a class="ajax {if $paginator->last == false}disabled{/if}" n:href="change! $paginator->getPage()+1">&raquo;</a></li>
            </ul>
        </div>  
        {/if}

    </div>
</div>
{/snippet} 

 
 
   
{/block}


