{block content}
<div class="wrapper-admin">  
<div class="col-sm-8 col-sm-offset-2">       
    <h2>edit attribute<strong>{$post->name|upper}</strong></h2>
<hr>               
    {snippet editProductAttributeFormSnippet} 
    {form editProductAttributeForm, class => ajax}    
    <div class="col-sm-6 col-sm-offset-3"> 
        <div class="form-group {if $form['name']->error}has-error{else}{/if} ">                                                         
            {label name /}                       
            {input name, class => "form-control", placeholder => "Name: ", required, autofocus => true}  
            <span class="text-danger" n:ifcontent>{$form['name']->error|noescape}</span>
        </div>
        <div class="form-group {if $form['productId']->error}has-error{else}{/if} ">                                                         
            {label productId /}                       
            {input productId, class => "form-control", placeholder => "Product: ", autofocus => true}  
            <span class="text-danger" n:ifcontent>{$form['productId']->error|noescape}</span>
        </div> 
        <div class="form-group {if $form['text']->error}has-error{else}{/if} ">                                                         
            {label text /}                       
            {input text, class => "form-control", placeholder => "Text: ", autofocus => true}  
            <span class="text-danger" n:ifcontent>{$form['text']->error|noescape}</span>
        </div>                                                 
        <div class="col-sm-12">
            {label active /}                       
            {input active, class => "form-control pull-left"}
        </div>                         
        <div class="form-group">
            {input submit, class => "btn btn-success mySubmit"} 
            {input close, class => "btn btn-danger mySubmit"} 
        </div>                                 
    </div> 
    {/form}          
    {/snippet}                      

</div>


{/block}


