{* This is the welcome page, you can delete it *}

{block content}
{snippet productsList}


{if !$products->fetch()}
<div class="alert alert-warning" role="alert">No products for this category</div>
{else}
    {foreach $products as $key => $product}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right">${$product->price}</h4>
                    <h4><a n:href="show $product->id">{$product->name}</a>
                    </h4>
                    <p>{$product->description}</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    {/foreach}
{/if}
{/snippet}
{/block}
