<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>{ifset title}{include title|striptags} | {/ifset}PZSHOP</title>

  <!-- Bootstrap core CSS -->
  <link href="{$basePath}/css/animate.min.css" rel="stylesheet">    
  <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">    
  <link href="{$basePath}/css/bootstrap_theme_sharp.css" rel="stylesheet">
  <link rel="stylesheet" href="{$basePath}/font-awesome/css/font-awesome.min.css">
  <link href="{$basePath}/css/style-admin.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {block head}{/block}   
  </head>
  <body id="main" data-spy="scroll">
   {if $user->isLoggedIn()}   
   <!-- Static navbar -->
   <div class="navbar navbar-inverse navbar-static-top">
    <div class="container mw">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" n:href=":Admin:Main:" onclick="main()">PZ-CMS</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse ">
        <ul class="nav navbar-nav navbar-left mw">
          <li><a href="{link :Front:Homepage:}"><i class="fa fa-eye"></i> &nbsp; Preview</a></li>         
        </ul>


        <ul class="nav navbar-nav navbar-right mw">
          <li><a n:href=":Admin:Main:"><i class="fa fa-home"></i>&nbsp;Dashboard</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cubes"></i> &nbsp;Sections&nbsp;<span class="caret"></span></a></a>
              <ul class="dropdown-menu">
                <li><a href="{link :Admin:Categories:}">Categories</a></li>
                <li><a href="{link :Admin:Products:}">Products</a></li>
                <li><a href="{link :Admin:Attributes:}">Attributes</a></li>
                <li><a href="{link :Admin:Messages:}">Messages</a></li>
              </ul>
            </li> 
            {*           
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> &nbsp;Nastavení&nbsp;<span class="caret"></span></a></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-plug"></i>&nbsp;Propojení</a></li>
                <li><a href="#"><i class="fa fa-pencil-square-o"></i>&nbsp;Vzhled</a></li>
              </ul>
            </li>
            *}
            <li><a href="{link :Admin:Sign:out}">Logout &nbsp;  <i class="fa fa-sign-out"></i></a></li>         
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {/if}

    <div class="wrapper-content">
      <!--FLASHES-->

      {snippet flashMessages}

      <div n:foreach="$flashes as $flash" class="alert flash alert-{$flash->type} animated fadeInDown"> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        {$flash->message}
      </div>
      {/snippet}   
      {include content}
    </div> <!-- /container -->

    {block scripts}
<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{$basePath}/js/jquery.min.js"></script>
  <!-- TINY MCE -->
  <script src="{$basePath}/js/tinymce/tinymce.min.js "></script>

  <script src="{$basePath}/js/bootstrap.min.js"></script>
  <script src="{$basePath}/js/jquery.easing.min.js"></script>

  <script src="{$basePath}/js/nette.ajax.js"></script> 
  {*<script src="{$basePath}/js/netteForms.js"></script>*}  
  <script src="{$basePath}/js/confirm.dialog.js"></script> 
  <script src="{$basePath}/js/main.js"></script>  


  {/block}

</body>
</html>
