{block content}

<script>

    function moveUploadA(img){
      $( "#productPhoto" ).val( img );
  }
    function removeImg(){
      $( "#productPhoto" ).val('');
  }  

</script>

<div class="wrapper-admin">  
    <div class="page-header">
        <h1 n:block="title">Products</h1>
    </div>

            <div class="row">                  
                <div class="col-sm-12">   
                    <div class="col-sm-4 col-sm-offset-4"> 
                    {form searchForm, class => ajax}  
                        <div class="form-group">                                                         
                            {label search /}                       
                            {input search, class => "form-control", placeholder => "Search: "}  
                        </div>  
                        <div class="form-group">                                                         
                            {label categories /}                       
                            {input categories, class => "form-control"}  
                        </div>                                                                        
                        <div class="col-sm-12">                      
                            {input find, class => "form-control btn btn-default"}
                        </div>
                    {/form}            
                    </div>    
                </div>
            </div>
<hr>
    {snippet postsList} 
    <!-- Main component for a primary marketing message or call to action -->
    <button class="btn btn-success " role="button" data-toggle="modal" data-target="#addPostForm"><i class="fa fa-plus"></i> Add new</button><br>

    {if $posts->fetch() == false}
    <div class="alert-relative alert-danger">Nothing :(</div>
    {else} 
<div class="table-responsive">    
    <table id="postsTable" class="table table-striped table-condensed table-responsive"> 
        <thead> 

            <tr> 
                <th>id</th> 
                <th>Name</th>          
                <th  class="hidden-xs">Category</th>                  
                <th  class="hidden-xs">Price</th>                  
                <th  class="hidden-xs">Photo</th>                  
                <th>Edit</th> 
                <th>Active</th>
                <th>Del</th> 
            </tr> 
        </thead> 
        <tbody> 
            <p id="demo"></p>

            {foreach $posts as $key => $post}
        
            <tr> 
                <td>{$post->id}</td> 
                {*<td class="hidden-xs datetime">{$post->autor}</td>*}
                <td>{$post->name|truncate:20}</td>
                {if $post->category !== NULL}
                <td class="hidden-xs">{$parentName[$post->category]}</td>
                {else}
                <td><span class="label label-danger">no category</span></td>                
                {/if}
                
                {if $post->price}
                <td  class="hidden-xs">${$post->price}</td>
                {else}
                <td><span class="label label-danger">no price </span></td>                
                {/if}
                <td  class="hidden-xs"> 
                    {if file_exists($absImagePath. '/' .$posts[$key]->photo) && $posts[$key]->photo != null}
                    <img src="{$basePath}/{$post->photo}" class="img-small tltp" data-toggle="tooltip" 
                        title='<img class="img-responsive" src="{$basePath}/{$post->photo}">'>
                    {else}
                    <img src="{$basePath}/img/empty.png" class="img-small tltp" data-toggle="tooltip" 
                        title='<img class="img-responsive" src="{$basePath}/img/empty.png">'>
                    {/if}    
                </td>                
                <td><a n:href="Products:edit $post->id" class="btn btn-primary btn-sm tltp" title="Edit Post"><i class="fa fa-pencil"></i></a></td>        
                <td>
                    {if $post->active == 1}
                    <a n:href="inactive! $post->id" class="btn btn-success btn-sm ajax tltp" title="Hide post">
                        <i class='fa fa-eye'></i>
                    </a>

                    {else}

                    <a n:href="active! $post->id" class="btn btn-warning btn-sm  ajax tltp" title="Show post">
                        <i class='fa fa-eye-slash'></i>
                    </a>{/if}
                </td>

                <td><a class="btn btn-danger btn-sm tltp" title="Delete post"
                    data-confirm="modal"
                    data-confirm-title="Smazat tento článek"
                    data-confirm-text="Delete?"
                    data-confirm-ok-class="btn-danger"
                    data-confirm-ok-text="Delete"
                    data-confirm-cancel-class="btn-success"
                    data-confirm-cancel-text="Cancel"
                    class="btn btn-danger btn-mini pull-right"
                    data-ajax="on"
                    n:href="removePost! $post->id"><i class="fa fa-trash"></i></a>
                </td>                  

                </tr>
                {/foreach} 

                


            </tbody> 
        </table>  
 </div>
        <div style="text-align: center">
            <ul n:snippet="pagi" class="pagination" style="margin: 0 0 20px;">
                <li {if $paginator->first}class="disabled"{/if}><a class="ajax {if $paginator->first == false}disabled{/if}" n:href="change! $paginator->getPage()-1">&laquo;</a></li>
                {for $i = 1; $i <= $paginator->pageCount; $i++}<li {if $paginator->getPage() == $i}class="active"{/if}><!--PAGE--><a class="ajax" n:href="change! $i">{$i}</a></li>{/for}
                <li {if $paginator->last}class="disabled"{/if}><a class="ajax {if $paginator->last == false}disabled{/if}" n:href="change! $paginator->getPage()+1">&raquo;</a></li>
            </ul>
        </div>  
        {/if}

    </div>
</div>
{/snippet}  

<div class="modal fade" id="addPostForm" tabindex="-1" role="dialog" aria-labelledby="addPostForm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Add new product</h2>
            </div>                
           
              
            <div class="modal-body">           
            <div class="row">  
                    <div class="col-sm-12 logoUploadForm text-center">
                        <div class="col-sm-6 col-sm-offset-3"> 
                        <div class="page-header">
                          <h2><small>Photo</small></h2>
                        </div>                                     
                            {snippet productPhotoFormUploadSnippet}              
                            {form productPhotoFormUpload, class => ajax} 
                        {if !$productPhotoFormUploadDone }
                            <div class="form-group">  
                                <div class="g80 np nm">                                              
                                    <div class="form-group {if $form['productPhoto']->error || $productPhotoFormUploadFail}has-error{else}{/if} ">                                                          
                                        {input productPhoto, class => "form-control pull-left", placeholder => "Photo: "}
                                    </div>                                                                                                   
                                </div>

                                <div class="g20 pull-right np nm">
                                    {input productPhotoUploadSubmit, class => "btn btn-default pull-right"}                                 
                                </div> 
                            <span class="text-danger" n:ifcontent>{$form['productPhoto']->error|noescape}</span>                        
                            </div>  
                            {/if}
                            {/form} 
                            {if $productPhotoRemoved }
                            <script>
                                removeImg();
                            </script>
                            {/if}                               
                            {if $productPhotoFormUploadClicked }
                            <script>
                                moveUploadA({$productPhotoName});
                            </script>
                            {if $productPhotoFormUploadDone && $productPhotoName} 
                            <img class="upload-thumb-v img-thumbnail animated fadeIn" src="{$basePath}/{$productPhotoName}"><br>
                            <a class="btn btn-danger btn-sm tltp ajax" title="Delete img cache" n:href="removeCacheImg! $productPhotoName"><i class="fa fa-trash"></i></a>
                            {else}
                            <img class="upload-thumb img-thumbnail animated fadeIn" src="{$basePath}/img/empty.png">
                            <div class="alert alert-relative alert-warning animated flash">Foto neexistuje nahrajte prosím nové.<br></div>

                            {/if}
                            {/if} 
                            {if $productPhotoRemovedInfo} 
                            <div class="alert alert-relative alert-danger animated fadeIn">Odstraněno.<br></div>

                            {/if}                            
                            {/snippet}                 
                        </div>
                    </div>

                <div class="col-sm-12">  
                    {snippet addProductFormSnippet} 
                    {form addProductForm, class => ajax}    
                    <div class="col-sm-6 col-sm-offset-3"> 
                        <div class="form-group {if $form['name']->error}has-error{else}{/if} ">                                                         
                            {label name /}                       
                            {input name, class => "form-control", placeholder => "Name: ", required, autofocus => true}  
                            <span class="text-danger" n:ifcontent>{$form['name']->error|noescape}</span>
                        </div>
                        <div class="form-group {if $form['category']->error}has-error{else}{/if} ">                                                         
                            {label category /}                       
                            {input category, class => "form-control", placeholder => "Category: ", autofocus => true}  
                            <span class="text-danger" n:ifcontent>{$form['category']->error|noescape}</span>
                        </div> 
                        <div class="form-group {if $form['price']->error}has-error{else}{/if} ">                                                         
                            {label price /}                       
                            {input price, class => "form-control", placeholder => "Price: ", autofocus => true}  
                            <span class="text-danger" n:ifcontent>{$form['price']->error|noescape}</span>
                        </div>  
                        <div class="form-group {if $form['inStock']->error}has-error{else}{/if} ">                                                         
                            {label inStock /}                       
                            {input inStock, class => "form-control", placeholder => "In stock: "}  
                            <span class="text-danger" n:ifcontent>{$form['inStock']->error|noescape}</span>
                        </div>                         
                        <div class="form-group {if $form['description']->error}has-error{else}{/if} ">                                                         
                            {label description /}                       
                            {input description, class => "form-control", placeholder => "Description: "}  
                            <span class="text-danger" n:ifcontent>{$form['description']->error|noescape}</span>
                        </div>                                                                         
                        <div class="col-sm-12">
                            {label active /}                       
                            {input active, class => "form-control pull-left"}
                        </div> 
                        <div class="col-sm-12">
                            {label productPhotoInForm /}                       
                            {input productPhotoInForm, class => "form-control input-sm", required} <br> 
                        </div>                          
                        <div class="form-group text-center">
                            {input submit, class => "btn btn-success mySubmit "} 
                        </div>                                 
                    </div> 
                    {/form}          
                    {/snippet}   
                </div>                                
            </div>  
        </div>                    
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>                       
    </div><!-- /.modal-content -->

</div><!-- /.modal-dialog -->
</div><!-- /.modal -->  


{/block}


