{block content}
<script>

    function moveUploadA(img){
      $( "#productPhoto" ).val( img );
  }
    function removeImg(){
      $( "#productPhoto" ).val('');
  }  

</script>

<div class="wrapper-admin">  

<div class="col-sm-6 col-sm-offset-3">  
    <div class="page-header">
        <h1 n:block="title">{$post->name}</h1>
    </div>
  
                        <div class="page-header">
                          <h2><small>Photo</small></h2>
                        </div>
   
        {snippet productPhotoFormUploadSnippet}
        {form productPhotoFormUpload, class => ajax}
        {if (!$productPhotoFormUploadDone && $post->photo == null) || $productPhotoRemoved || (!$productPhotoFormUploadDone && !file_exists($absImagePath. '/' .$post->photo))}                        
        <div class="form-group">  
            <div class="g80 np nm">                                              
                <div class="form-group {if $form['productPhoto']->error || $productPhotoFormUploadFail}has-error{else}{/if} ">                                                          
                    {input productPhoto, class => "form-control pull-left", placeholder => "Photo: "}
                </div>                                                                                                   
            </div>

            <div class="g20 pull-right np nm">
                {input productPhotoUploadSubmit, class => "btn btn-default pull-right"}                                 
            </div> 
        <span class="text-danger" n:ifcontent>{$form['productPhoto']->error|noescape}</span>                        
        </div>        

        {/if}                                                                   
        {/form}
        {if $productPhotoRemoved }
        <script>
            removeImg();
        </script>
        {/if}  
        {if $productPhotoFormUploadDone}    
        <img class="upload-thumb-v img-thumbnail animated fadeIn" src="{$basePath}/{$productPhotoName}" alt="cache"><br>
        <a class="btn btn-danger btn-sm tltp ajax" title="Delete photo" n:href="removeCacheImg! $productPhotoName"><i class="fa fa-trash"></i></a>
        
        <script>
            moveUploadA({$productPhotoName});
        </script>
        {/if} 

        {if file_exists($absImagePath. '/' .$post->photo) && !$productPhotoFormUploadDone && $post->photo != null || ($productPhotoFormEdited && $post->photo)} 
        
        <img class="upload-thumb-v img-thumbnail animated fadeIn" src="{$basePath}/{$post->photo}" alt="storage"><br>                  
        <a class="btn btn-danger btn-sm tltp ajax" title="Delete photo" n:href="removeImg! $post->id"><i class="fa fa-trash"></i></a> 
        
        {elseif $productPhotoFormUploadDone}
        
        <script>
            moveUploadA({$productPhotoName});
        </script>
        
        <div class="alert alert-relative alert-info animated flash">Pro zachování fotografie je potřeba uložit změny! {$productPhotoName}   </div>
        
        {else}
        <div class="alert alert-relative alert-warning animated flash">Foto neexistuje nahrajte prosím nové.<br> {$post->photo}</div> 
        {/if}   
        {/snippet}
<br>
</div>          
           
            {snippet editProductFormSnippet} 
            {form editProductForm, class => ajax}                
            <div class="row">                  
                <div class="col-sm-6 col-sm-offset-3"> 
                    <div class="page-header">
                        <h2>Details</h2>
                    </div>                  
                    <div class="col-sm-12 "> 
                        <div class="form-group {if $form['name']->error}has-error{else}{/if} ">                                                         
                            {label name /}                       
                            {input name, class => "form-control", placeholder => "Name: ", required, autofocus => true}  
                            <span class="text-danger" n:ifcontent>{$form['name']->error|noescape}</span>
                        </div>
                        <div class="form-group {if $form['category']->error}has-error{else}{/if} ">                                                         
                            {label category /}                       
                            {input category , class => "form-control", placeholder => "Category: ", autofocus => true}                        
                        </div>  
                        <div class="form-group {if $form['price']->error}has-error{else}{/if} ">                                                         
                            {label price /}                       
                            {input price , class => "form-control", placeholder => "Price: ", autofocus => true}                        
                        </div> 
                        <div class="form-group {if $form['inStock']->error}has-error{else}{/if} ">                                                         
                            {label inStock /}                       
                            {input inStock, class => "form-control", placeholder => "In stock: "}  
                            <span class="text-danger" n:ifcontent>{$form['inStock']->error|noescape}</span>
                        </div>                         
                        <div class="form-group {if $form['description']->error}has-error{else}{/if} ">                                                         
                            {label description /}                       
                            {input description, class => "form-control", placeholder => "Description: "}  
                            <span class="text-danger" n:ifcontent>{$form['description']->error|noescape}</span>
                        </div>                                                                       
                        <div class="col-sm-12">
                            {label active /}                       
                            {input active, class => "form-control"}
                        </div>
                        <div class="col-sm-12">
                            {label productPhotoInForm /}                       
                            {input productPhotoInForm value => $post->photo, class => "form-control input-sm", required} <br> 
                        </div> 
                        <div class="col-sm-12">
                    <div class="page-header">
                        <h2>Attributes</h2>
                    </div> 

     <a class="btn btn-success " role="button" data-toggle="modal" data-target="#addPostForm"><i class="fa fa-plus"></i> </a><br>
             <hr>
             {if $attributes->fetch()}              
    <table id="postsTable" class="table table-striped "> 
        <thead> 

            <tr> 
                <th>id</th> 
                <th>Name</th>          
                <th>Text</th>
                <th>Edit</th>
                <th>Remove</th>                                   
            </tr> 
        </thead> 
        <tbody> 

            {foreach $attributes as $key => $attribute}
            <tr> 
                <td>{$attribute->id}</td>
                {*<td class="hidden-xs datetime">{$post->autor}</td>*}
                <td><strong>{$attribute->name}</strong></td>            
                <td>{$attribute->text}</td>            
                <td><a n:href=":Admin:Attributes:edit $post->id" class="btn btn-primary btn-sm tltp" title="Edit Post"><i class="fa fa-pencil"></i></a></td>        
                
                <td><a class="btn btn-danger btn-sm tltp" title="Delete post"
                    data-confirm="modal"
                    data-confirm-title="Smazat tento článek"
                    data-confirm-text="Delete?"
                    data-confirm-ok-class="btn-danger"
                    data-confirm-ok-text="Delete"
                    data-confirm-cancel-class="btn-success"
                    data-confirm-cancel-text="Cancel"
                    class="btn btn-danger btn-mini pull-right"
                    data-ajax="on"
                    n:href="removeAttributePost! $attribute->id"><i class="fa fa-trash"></i></a>
                </td>            
            </tr>
                {/foreach}            
            </tbody> 
        </table> 
 <hr>         
        {/if} 

                    </div> 

                </div>
                <div class="col-sm-12">
                    {input submit, class => "btn btn-success mySubmit"} 
                    {input close, class => "btn btn-danger mySubmit"} 
                </div>
            </div>
        </div>                    
        {/form}          
        {/snippet}                      

<div class="modal fade" id="addPostForm" tabindex="-1" role="dialog" aria-labelledby="addPostForm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Add new attribute</h2>
            </div>                
           
              
            <div class="modal-body">           
            <div class="row"> 
                <div class="col-sm-12">  
                    {snippet addNewProductAttributeFormSnippet} 
                    {form addNewProductAttributeForm, class => ajax}    
                    <div class="col-sm-6 col-sm-offset-3"> 
                        <div class="form-group {if $form['name']->error}has-error{else}{/if} ">                                                         
                            {label name /}                       
                            {input name, class => "form-control", placeholder => "Name: ", required, autofocus => true}  
                            <span class="text-danger" n:ifcontent>{$form['name']->error|noescape}</span>
                        </div>

                        <div class="form-group {if $form['text']->error}has-error{else}{/if} ">                                                         
                            {label text /}                       
                            {input text, class => "form-control", placeholder => "Text: ", autofocus => true}  
                            <span class="text-danger" n:ifcontent>{$form['text']->error|noescape}</span>
                        </div>
                        <div class="form-group {if $form['productId']->error}has-error{else}{/if} ">                                                         
                            {label productId /}                       
                            {input productId, class => "form-control", placeholder => "Text: ", autofocus => true}  
                            <span class="text-danger" n:ifcontent>{$form['productId']->error|noescape}</span>
                        </div>                                                                                                
                        <div class="col-sm-12">
                            {label active /}                       
                            {input active, class => "form-control pull-left"}
                        </div> 

                        <div class="form-group">
                            {input addAttribute, class => "btn btn-success mySubmit"} 
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> 
                        </div>                                 
                    </div> 
                    {/form}          
                    {/snippet}   
                </div>                                
            </div>  
        </div>                    
                     
    </div><!-- /.modal-content -->

</div><!-- /.modal-dialog -->
</div><!-- /.modal -->  

{/block}


