{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

	<title>{ifset title}{include title|striptags} | {/ifset}PZSHOP</title>

    <!-- Bootstrap core CSS -->
    <link href="{$basePath}/css/animate.min.css" rel="stylesheet">    
    <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">    
    <link href="{$basePath}/css/bootstrap_theme_sharp.css" rel="stylesheet">
    <link rel="stylesheet" href="{$basePath}/font-awesome/css/font-awesome.min.css">
	  <link href="{$basePath}/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
 	{block head}{/block}   
  </head>

<body>
  <div class="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a n:href=":Front:Homepage:">Home</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                       {if $user->isLoggedIn()} 
                    <li>
                        <a n:href=":Admin:Main:">Admin</a>
                    </li>
                      {/if}
                </ul>
 {form searchForm, class => ajax}               
<div class="navbar-form navbar-right" role="search">
  <div class="form-group">
  {input search, class => "form-control", placeholder => "Search: "} 
  </div>

  {input find, class => "form-control btn btn-default"}
{/form}              

            <!-- /.navbar-collapse -->

    </nav>

    <!-- breadcrumb -->
    {*
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
        </ol> 
    *}    
        <div class="row">
 <!-- Navigation Tree -->
        <div class="col-md-3">
{var $level = 0}
<li class="list-group-item cat-header"><a n:href="default"><strong>Products</strong></a></li>
<ul class="list-group">
{block #menu}
  {*ziskani jednotlive katerogie jako item*}
  {foreach $categories as $key => $item}  
    {*ziskani potomku pro jednotlivou kategorii*}   
    {var $subCategories = $presenter->getItemsForChilds($item->id)}   
    {* kdyz jsem MAIN kategorie a jsem v urovni 0 tak vykreslim header kategorie *}
    {if ($item->parent_id == NULL) && $level == 0} 
      {* potlaceni ajaxu kdyz nejsem v default action *}  
        {if $presenter->action !== 'default'} 
        
        <li class="list-group-item cat-header"><a n:href="default $item->id"><strong>{$item->name}</strong></a></li>
        {* aktivace ajaxu*}
        {else} 

        <li class="list-group-item cat-header"><a class="ajax" n:href="ShowCategory! $item->id"><strong>{$item->name}</strong></a></li>
        
        {/if}
        {* rekurzni funkce kategorii pro MAIN kategorii *}
        {include #menu, categories => $subCategories,level => ($level + 1)} 
    {* kdyz uroven bude vice jak 0 tak se jiz nezobrazi header kategori ale jednotlive kategorie *}    
    {elseif $level > 0 }  
        {if $presenter->action !== 'default'} 
        <li class="list-group-item"> {? echo str_repeat('-',$level)}<a n:href="default $item->id">{$item->name}</a></li>
        {else} 
        <li class="list-group-item"> {? echo str_repeat('-',$level)}<a class="ajax" n:href="ShowCategory! $item->id">{$item->name}</a></li>
        {/if}
        {* rekurzni funkce pro kategorie zanorene*}
        {include #menu, categories => $subCategories,level => ($level + 1)} 
    {/if}                 
  {/foreach}
{/block}
</ul>



            </div>

            <div class="col-md-9">           
                <div class="row">
                {snippet flashMessages}

                <div n:foreach="$flashes as $flash" class="alert flash alert-{$flash->type} animated fadeInDown"> 
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                  {$flash->message}
                </div>
                {/snippet}                 
                {include content}

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
</div>
</body>
    {block scripts}
<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{$basePath}/js/jquery.min.js"></script>
  <!-- TINY MCE -->
  <script src="{$basePath}/js/tinymce/tinymce.min.js "></script>

  <script src="{$basePath}/js/bootstrap.min.js"></script>
  <script src="{$basePath}/js/jquery.easing.min.js"></script>

  <script src="{$basePath}/js/nette.ajax.js"></script> 
  {*<script src="{$basePath}/js/netteForms.js"></script>*}  
  <script src="{$basePath}/js/confirm.dialog.js"></script> 
  <script src="{$basePath}/js/main.js"></script>  


  {/block}
</body>
</html>
