<html>
    <head>
        <title></title>
    </head>

    <body>
        <ul>
            <li>
                <strong>Product:</strong> {$values['productName']}
            </li>        
            <li>
                <strong>Jméno:</strong> {$values['name']}
            </li>
            <li>
                <strong>Telefon:</strong> {$values['phone']}
            </li>            
            <li>
                <strong>Email:</strong> {$values['email']}
            </li>
            <li>
                <strong>Zpráva:</strong> {$values['body']}
            </li>
        </ul>

    </body>
</html>