{block content}
<script>

    function moveUploadA(img){
      $( "#playerPhotoInForm" ).val( img );
  }
    function removeImg(){
      $( "#playerPhotoInForm" ).val('');
  }  
</script>
<div class="wrapper-admin"> 
<div class="col-sm-6 col-sm-offset-3">       
    <h2><small>{$post->firstname|capitalize}</small> <strong>{$post->nickname|upper}</strong> <small>{$post->lastname|capitalize}</small></h2>
     
        {snippet playerPhotoFormUploadSnippet}
        {form playerPhotoFormUpload, class => ajax}
        {if (!$playerPhotoFormUploadDone && $post->playerphoto == null) || $playerPhotoRemoved || (!$playerPhotoFormUploadDone && !file_exists($absImagePath. '/' .$post->playerphoto))}                        
        <div class="form-group">  
            <div class="g80 np nm">                                              
                <div class="form-group {if $form['playerPhoto']->error || $playerPhotoFormUploadFail}has-error{else}{/if} ">                                                          
                    {input playerPhoto, class => "form-control pull-left", placeholder => "Photo: "}
                </div>                                                                                                   
            </div>

            <div class="g20 pull-right np nm">
                {input playerPhotoUploadSubmit, class => "btn btn-default pull-right"}                                 
            </div> 
        <span class="text-danger" n:ifcontent>{$form['playerPhoto']->error|noescape}</span>                        
        </div>        

        {/if}                                                                   
        {/form}
        {if $playerPhotoRemoved }
        <script>
            removeImg();
        </script>
        {/if}  
        {if $playerPhotoFormUploadDone}    
        <img class="upload-thumb-v img-thumbnail animated fadeIn" src="{$basePath}/{$playerPhotoName}" alt="cache"><br>
        <a class="btn btn-danger btn-sm tltp ajax" title="Delete photo" n:href="removeCacheImg! $playerPhotoName"><i class="fa fa-trash"></i></a>
        
        <script>
            moveUploadA({$playerPhotoName});
        </script>
        {/if} 

        {if file_exists($absImagePath. '/' .$post->playerphoto) && !$playerPhotoFormUploadDone && $post->playerphoto != null || ($playerPhotoFormEdited && $post->playerphoto)} 
        
        <img class="upload-thumb-v img-thumbnail animated fadeIn" src="{$basePath}/{$post->playerphoto}" alt="storage"><br>                  
        <a class="btn btn-danger btn-sm tltp ajax" title="Delete photo" n:href="removeImg! $post->id"><i class="fa fa-trash"></i></a> 
        
        {elseif $playerPhotoFormUploadDone}
        
        <script>
            moveUploadA({$playerPhotoName});
        </script>
        
        <div class="alert alert-relative alert-info animated flash">Pro zachování fotografie je potřeba uložit změny! {$playerPhotoName}   </div>
        
        {else}
        <div class="alert alert-relative alert-warning animated flash">Foto neexistuje nahrajte prosím nové.<br> {$post->playerphoto}</div> 
        {/if}   
        {/snippet}
</div>
        <div class="row">             
            <div class="col-sm-12 logoUploadForm">
                {snippet editPlayerFormSnippet}
                {if $playerPhotoFormEdited}
                <script>
                    moveUploadA({$playerPhotoName});
                </script>
                {/if}
        {if $playerPhotoRemoved }
        <script>
            removeImg();
        </script>
        {/if}                  
                {form editPlayerForm, class => ajax}                              
                <div class="col-sm-12">   
                    <div class="col-sm-6 col-sm-offset-3"> 
                        <div class="page-header">
                          <h2><small>Personal</small></h2>
                        </div>                    
                        <div class="form-group {if $form['nickname']->error}has-error{else}{/if} ">                                                         
                            {label nickname /}                       
                            {input nickname, class => "form-control", placeholder => "Nickname: ", required, autofocus => true}
                            <span class="text-danger" n:ifcontent>{$form['nickname']->error|noescape}</span>
                        </div>
                        <div class="form-group">                                                         
                            {label firstname /}                       
                            {input firstname, class => "form-control ", placeholder => "First name: "} 
                        </div>
                        <div class="form-group ">                                                         
                            {label lastname /}                       
                            {input lastname, class => "form-control ", placeholder => "Last name: "}  
                        </div>
                       
                    </div>
                    <div class="col-sm-6 col-sm-offset-3"> 
                        <div class="page-header">
                          <h2><small>Info</small></h2>
                        </div> 
                    </div>                                                                       
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">                                                         
                            {label mouse /}                       
                            {input mouse, class => "form-control input-sm", placeholder => "Mouse: "} 
                        </div>
                        <div class="form-group">                                                         
                            {label keyboard /}                       
                            {input keyboard, class => "form-control input-sm", placeholder => "Keyboard: "}  
                        </div>
                        <div class="form-group">                                                         
                            {label headphones /}                       
                            {input headphones, class => "form-control input-sm", placeholder => "Headphones: "} 
                        </div> 
                        <div class="form-group">                                                         
                            {label cpu /}                       
                            {input cpu, class => "form-control input-sm", placeholder => "CPU: "} 
                        </div> 
                        <div class="form-group">                                                         
                            {label gpu /}                       
                            {input gpu, class => "form-control input-sm", placeholder => "GPU: "} 
                        </div> 
                        <div class="form-group">                                                         
                            {label sensitivity /}                       
                            {input sensitivity, class => "form-control input-sm", placeholder => "Sensitivity: "} 
                        </div>
                        <div class="form-group">                                                         
                            {label resolution /}                       
                            {input resolution, class => "form-control input-sm", placeholder => "Resolution: "} 
                        </div>                                                                                                                                                 
                        <div class="col-sm-12">
                            {label playerPhotoInForm /}                       
                            {input playerPhotoInForm value => $post->playerphoto, class => "form-control input-sm", required} <br> 
                        </div>          
                    </div>
                    <div class="col-sm-6 col-sm-offset-3"> 
                        <div class="page-header">
                          <h2><small>Social</small></h2>
                        </div>
                        <div class="form-group">                                                         
                            {label facebook /}                       
                            {input facebook, class => "form-control input-sm", placeholder => "Facebook: "} 
                        </div> 
                        <div class="form-group">                                                         
                            {label twitch /}                       
                            {input twitch, class => "form-control input-sm", placeholder => "Twitch: "} 
                        </div> 
                        <div class="form-group">                                                         
                            {label twitter /}                       
                            {input twitter, class => "form-control input-sm", placeholder => "Twitter: "} 
                        </div>   
                        <div class="form-group">                                                         
                            {label steam /}                       
                            {input steam, class => "form-control input-sm", placeholder => "Steam: "} 
                        </div>                                                                                               
                    </div>                        
                </div>  
                {input editPlayerSubmit, class => "btn btn-success mySubmit"}
                {input editPlayerCancel, class => "btn btn-danger mySubmit"} 
                {/form}
                {/snippet}                                               
            </div>
        </div>     
        

        <div> 
        </div>               
        {/block}





