{block content}

<script>
/*
function closeForm(){
    $('#addPostForm').modal('hide');  
}
*/

function moveUpload(img){
  $( "#uploadImg" ).val( img );
}
    function removeImg(){
      $( "#uploadImg" ).val('');
  }  
</script>
{snippet postsList} 
<!-- Main component for a primary marketing message or call to action -->
<div class="wrapper-admin">   
    <h2>Enemy</h2>
    <button class="btn btn-success " role="button" data-toggle="modal" data-target="#addPostForm">Add</button><br>

    {if $posts->fetch() == false}
    <div class="alert-relative alert-danger">Nothing :(</div>
    {else} 
    <table id="postsTable" class="table table-striped"> 
        <thead> 

            <tr> 
                <th>id</th> 
                <th>Name</th>        
                <th>Img</th>   
                <th>Edit</th> 
                <th>Active</th>
                <th>Del</th> 
            </tr> 
        </thead> 
        <tbody> 
            <p id="demo"></p>

            {foreach $posts as $key => $post}
            <tr> 
                <td>{$post->id}</td> 
                {*<td class="hidden-xs datetime">{$post->autor}</td>*}
                <td>{$post->mapName}</td>
                <td> 
                    {if file_exists($absImagePath. '/' .$posts[$key]->mapImg) && $posts[$key]->mapImg != null}
                    <img src="{$basePath}/{$post->mapImg}" class="img-small tltp" data-toggle="tooltip" title='<img class="img-responsive" src="{$basePath}/{$post->mapImg}">'>
                    {else}
                    <img src="{$basePath}/img/empty.png" class="img-small tltp" data-toggle="tooltip" title='<img class="img-responsive" src="{$basePath}/img/empty.png">'>
                    {/if}    
                </td>                      
                <td><a n:href="Enemy:editPost $post->id" class="btn btn-primary btn-sm tltp" title="Edit Post"><i class="fa fa-pencil"></i></a></td>        
                <td>
                    {if $post->active == 1}
                    <a n:href="inactive! $post->id" class="btn btn-success btn-sm ajax tltp" title="Hide post">
                        <i class='fa fa-eye'></i>
                    </a>

                    {else}

                    <a n:href="active! $post->id" class="btn btn-warning btn-sm  ajax tltp" title="Show post">
                        <i class='fa fa-eye-slash'></i>
                    </a>{/if}
                </td>

                <td><a class="btn btn-danger btn-sm tltp" title="Delete post"
                    data-confirm="modal"
                    data-confirm-title="Smazat tento článek"
                    data-confirm-text="Delete?"
                    data-confirm-ok-class="btn-danger"
                    data-confirm-ok-text="Delete"
                    data-confirm-cancel-class="btn-success"
                    data-confirm-cancel-text="Cancel"
                    class="btn btn-danger btn-mini pull-right"
                    data-ajax="on"
                    n:href="removePost! $post->id"><i class="fa fa-trash"></i></a></td>                  

                </tr>
                {/foreach} 

                


            </tbody> 
        </table>  

        <div style="text-align: center">
            <ul n:snippet="pagi" class="pagination" style="margin: 0 0 20px;">
                <li {if $paginator->first}class="disabled"{/if}><a class="ajax {if $paginator->first == false}disabled{/if}" n:href="change! $paginator->getPage()-1">&laquo;</a></li>
                {for $i = 1; $i <= $paginator->pageCount; $i++}<li {if $paginator->getPage() == $i}class="active"{/if}><!--PAGE--><a class="ajax" n:href="change! $i">{$i}</a></li>{/for}
                <li {if $paginator->last}class="disabled"{/if}><a class="ajax {if $paginator->last == false}disabled{/if}" n:href="change! $paginator->getPage()+1">&raquo;</a></li>
            </ul>
        </div>  
        {/if}

    </div>
</div>
{/snippet} 

<div class="modal fade" id="addPostForm" tabindex="-1" role="dialog" aria-labelledby="addPostForm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Add new Map</h2>
            </div>
            <div class="modal-body">                 
                <div class="row">             
                    <div class="col-sm-12">
                        <div class="col-sm-6 col-sm-offset-3">              
                            {snippet mapImgUploadSnippet} 
                            {if $mapImgRemoved }
                            <script>
                                removeImg();
                            </script>
                            {/if}                                  
                            {form mapImgUpload, class => ajax}
                            {if !$mapImgUploadDone } 
                            <div class="form-group"> 
                            <div class="g80 np nm">                  
                                <div class="form-group {if $form['mapImg']->error || $mapImgFormFail}has-error{else}{/if} ">                      
                                    {input mapImg, class => "form-control pull-left", placeholder => "Foto: "}
                                </div>                                                  
                            </div>
                            <div class="g20 pull-right np nm">
                                {input upload, class => "btn btn-default pull-right"}         
                            </div>
                                <span class="text-danger" n:ifcontent>{$form['mapImg']->error|noescape}</span>                        
                            </div>
                            {/if}            
                            {/form}    
                            {if $mapImgUploadClick }
                            <script>
                                moveUpload({$mapImgName});
                            </script>
                            {if $mapImgUploadDone && $mapImgName} 

                            <img class="upload-thumb img-thumbnail animated fadeIn" src="{$basePath}/{$mapImgName}"><br>
                            <a class="btn btn-danger btn-sm tltp ajax" title="Delete img cache" n:href="removeCacheImg! $mapImgName"><i class="fa fa-trash"></i></a>                           
                            <div class="alert alert-relative alert-info animated flash">Pro zachování fotografie je potřeba uložit změny! {$mapImgName}   </div>
                            {else}
                            <img class="upload-thumb img-thumbnail animated fadeIn" src="{$basePath}/img/empty.png">
                            <div class="alert alert-relative alert-warning animated flash">Foto neexistuje nahrajte prosím nové.<br></div>

                            {/if}
                            {/if} 
                            {/snippet}                 
                        </div>
                    </div>
                </div>
            </div>
            {snippet addNewMapSnippet} 
            {form addNewMapForm, class => ajax}                
            <div class="modal-body">
              {*
              <ul class="alert-relative alert-danger animated flash" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>  
            *}
            <div class="row">                  
                <div class="col-sm-12">   
                    <div class="col-sm-6 col-sm-offset-3"> 
                        <div class="form-group {if $form['mapName']->error}has-error{else}{/if} ">                                                         
                            {label mapName /}                       
                            {input mapName, class => "form-control", placeholder => "Map Name: ", required, autofocus => true}  
                            <span class="text-danger" n:ifcontent>{$form['mapName']->error|noescape}</span>
                        </div>
                        <div class="col-sm-12">
                            {label mapImgHidden /}                       
                            {input mapImgHidden, class => "form-control", required}
                        </div>          
                    </div>    
                </div>
            </div>
        </div>                    
        <div class="modal-footer">
            {input submit, class => "btn btn-success mySubmit"} 
            <button type="button" class="btn btn-danger" data-dismiss="modal">Zavřít</button> 
        </div>
        {/form}          
        {/snippet}                      
    </div><!-- /.modal-content -->

</div><!-- /.modal-dialog -->
</div><!-- /.modal -->  
{/block}


