/*!
 * Start Bootstrap - Shop Homepage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 20px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    margin-left:20px;
    margin-right:20px;
}

.wrapper {
    
    max-width:1140px;
    margin: 0px auto;
}


.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.portfolio-item {
    margin-bottom: 25px;
}

.cat-header{
    background-color:#1a6ecc;
   
}
.list-group-item a{
    color:#000;
}

.cat-header a {
     color: #FFF !important;
}
.navbar-form {
    margin-right:20px;
}


.thumbnail img{
    height:160px;
    max-height:160px;
}

.product-detail img {
    width:100%;
    object-fit:cover;
}
 
footer {
    margin: 50px 0;
}